{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Search</h2>

        <form id="search-form">
            <input type="text" id="username" autofocus />
            <button type="submit" class="btn btn-primary">
                Search
            </button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.min.js') }}"></script>
    <script src="{{ asset('public/js/app.js') }}"></script>
{% endblock %}